body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-top: 20px;
}
form{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}
label{
    color: #333;
}
input{
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}
input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
input[type="submit"]:hover{
    background-color: #125715;
}
a{
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #f1f1f1;
    padding: 10px;
}
a:hover{
    background-color: #ddd;
}